# System
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/

# Virtual Env
ctm_env/
venv/
.env

# Large Data & Artifacts (Reproducible via scripts)
data/*.h5
data/*.zip
checkpoints/

# Logs
logs/
*.log
